<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.7.0.7" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net47" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.9" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="10.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.9" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="10.0.9" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net47" />
</packages>